body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base-3: 15.3px;
  --font-size-mini-8: 14.8px;
  --font-size-base-5: 16.5px;
  --font-size-base-1: 15.1px;
  --font-size-sm-1: 13.1px;
  --font-size-mini: 15px;
  --font-size-mini-6: 14.6px;
  --font-size-mini-9: 14.9px;
  --font-size-base-6: 16.6px;
  --font-size-smi-8: 12.8px;

  /* Colors */
  --color-gray-100: #909298;
  --color-white: #fff;
  --color-yellow: #eeff05;
  --color-black: #000;
  --color-dimgray: #60636c;
  --color-darkgray: #a1a1a1;

  /* Border radiuses */
  --br-xs: 12px;
  --br-3xs: 10px;
  --br-13xl: 32px;
  --br-7xs: 6px;
}
