.c16808ecb8bc7e3385e79-gradient-icon {
  position: absolute;
  height: 198.77%;
  width: 111.81%;
  top: -59.27%;
  right: -42.91%;
  bottom: -39.5%;
  left: 31.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.divbackground-wrapper {
  position: absolute;
  height: 19.56%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 80.44%;
  left: 0;
  overflow: hidden;
}
.bi-without,
.the-bs {
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bi-without {
  background: linear-gradient(
    78.63deg,
    #a42e99,
    #4f4bb1 30%,
    #d2978f 65%,
    #c25d3b
  );
}
.the-bs {
  background: linear-gradient(
    72.82deg,
    #a42e99,
    #4f4bb1 30%,
    #d2978f 65%,
    #c25d3b
  );
}
.heading-1-container1 {
  width: 100%;
}
.heading-1-container {
  position: absolute;
  top: 0;
  left: 65px;
  line-height: 75px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 365.5px;
  height: 169px;
}
.polymer-is-business {
  margin: 0;
}
.polymer-is-business-container {
  position: absolute;
  top: 192px;
  left: 65px;
  font-size: 18.3px;
  line-height: 28px;
  font-weight: 500;
  color: #cfd0d3;
  display: flex;
  align-items: center;
  width: 420.4px;
  height: 107px;
}
.c195706fa30a82c167c07-checksv-icon {
  position: absolute;
  height: calc(100% - 568px);
  top: 332px;
  bottom: 236px;
  left: 65px;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.day-free-trial {
  position: absolute;
  top: 332px;
  left: 83px;
  font-size: var(--font-size-smi-8);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 97.3px;
  height: 20px;
}
.c195706fa30a82c167c07-checksv-icon1 {
  position: absolute;
  height: calc(100% - 568px);
  top: 332px;
  bottom: 236px;
  left: 200.1px;
  max-height: 100%;
  width: 12px;
  overflow: hidden;
}
.no-credit-card,
.start-for-free {
  position: absolute;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.no-credit-card {
  top: 332px;
  left: 218.1px;
  font-size: 13.2px;
  width: 146.3px;
  height: 20px;
}
.start-for-free {
  top: 16px;
  left: 24px;
  width: 117.4px;
  height: 23px;
}
.link {
  position: absolute;
  top: calc(50% + 88px);
  left: 65px;
  border-radius: var(--br-3xs);
  background-color: var(--color-yellow);
  width: 165.2px;
  height: 56px;
  font-size: 19.1px;
  color: var(--color-black);
}
.d6a7b0fcaeea47faa4a9-hero-sect-icon {
  position: absolute;
  top: calc(50% - 290.8px);
  left: 611.7px;
  width: 681px;
  height: 431.6px;
  overflow: hidden;
  object-fit: cover;
}
.divopen-popup-icon {
  position: absolute;
  top: calc(50% - 123px);
  left: calc(50% + 257.9px);
  border-radius: 130px;
  width: 96px;
  height: 96px;
}
.e5def1d8b51449bff1867b-ey-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: 308px;
  width: 49px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
}
.e5def3001ab9aad5624fe2-frame2-icon,
.e5def34bf681bb32452b2e-frame2-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: 417px;
  width: 105px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.e5def3001ab9aad5624fe2-frame2-icon {
  top: calc(50% - 13px);
  left: 582px;
  width: 99px;
  height: 26px;
}
.e5def84bf681bb32452d97-logo-fb-icon,
.e5def8661faadddcf8a643-layer-1-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: 741px;
  width: 49px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
}
.e5def84bf681bb32452d97-logo-fb-icon {
  left: 850px;
  width: 50px;
}
.e5def25e09cbabffa76d16-adobe-c-icon,
.e5def972f5864e5b0b8d4c-spotify-icon {
  position: absolute;
  top: calc(50% - 13px);
  left: 960px;
  width: 96px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.e5def972f5864e5b0b8d4c-spotify-icon {
  top: calc(50% - 14px);
  left: 1116px;
  width: 90px;
  height: 28px;
}
.e5def3c699f9af2f8aec84-frame2-icon,
.e5defad6de05986e6c1080-wwf201-icon {
  position: absolute;
  top: calc(50% - 25px);
  left: 1266px;
  width: 49px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
}
.e5defad6de05986e6c1080-wwf201-icon {
  top: calc(50% - 30px);
  left: 1375px;
  width: 40px;
  height: 60px;
}
.divb-marquee-img-icon {
  position: absolute;
  top: calc(50% - 10.3px);
  left: 1475px;
  width: 130px;
  height: 20.5px;
  object-fit: cover;
}
.divboard-marquee-flex {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -304.1px;
  width: 2261px;
}
.section {
  position: absolute;
  width: 100%;
  top: 528px;
  right: 0;
  left: 0;
  height: 60px;
  overflow: hidden;
}
.divcontainer-1300 {
  position: absolute;
  top: 172px;
  left: calc(50% - 650px);
  width: 1300px;
  height: 588px;
  color: var(--color-gray-100);
}
.youve-already-saved-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 369.7px;
  height: 67px;
}
.pp-18 {
  position: absolute;
  width: calc(100% - 40px);
  top: 13.2px;
  right: 20px;
  left: 20px;
  height: 69px;
}
.divp-18,
.mark-myers {
  position: absolute;
  left: 0;
}
.mark-myers {
  top: 1px;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 96.9px;
  height: 21px;
}
.divp-18 {
  width: calc(100% - 135.6px);
  top: 0;
  right: 135.6px;
  height: 23px;
}
.baldwin-aviation {
  color: var(--color-white);
}
.strong-sr-container {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 237.9px;
  height: 16px;
}
.divp-13 {
  position: absolute;
  width: calc(100% - 135.6px);
  top: 23px;
  right: 135.6px;
  left: 0;
  height: 20px;
  font-size: var(--font-size-smi-8);
  color: var(--color-darkgray);
}
.divtestimonail-credentials {
  position: absolute;
  top: calc(50% + 32.7px);
  left: 20px;
  width: 373.3px;
  height: 43px;
  font-size: 17.2px;
}
.divtestimonial-hp2 {
  position: absolute;
  height: calc(100% - 210px);
  width: calc(100% - 1506.7px);
  top: 90px;
  right: 1196.7px;
  bottom: 120px;
  left: 310px;
  border-radius: var(--br-xs);
  background: radial-gradient(50% 50%at 50% 50%, #1d1d1d, #000);
}
.using-polymers-insight-container {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 355.5px;
  height: 90px;
}
.div {
  position: absolute;
  width: calc(100% - 40px);
  top: 13.2px;
  right: 20px;
  left: 20px;
  height: 102px;
}
.craig-belcher {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 109.3px;
  height: 21px;
}
.divp-181 {
  position: absolute;
  width: calc(100% - 223.7px);
  top: 0;
  right: 223.7px;
  left: 0;
  height: 23px;
}
.founder-yourppcpro-container {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 149.8px;
  height: 16px;
}
.divp-131 {
  position: absolute;
  width: calc(100% - 223.7px);
  top: 23px;
  right: 223.7px;
  left: 0;
  height: 20px;
  font-size: 13.3px;
  color: var(--color-darkgray);
}
.divtestimonail-credentials1 {
  position: absolute;
  top: calc(50% + 32.7px);
  left: 20px;
  width: 373.3px;
  height: 43px;
  font-size: 16.9px;
}
.divtestimonial-hp21 {
  position: absolute;
  height: calc(100% - 210px);
  width: calc(100% - 1506.7px);
  top: 90px;
  right: 753.4px;
  bottom: 120px;
  left: 753.3px;
  border-radius: var(--br-xs);
  background: radial-gradient(50% 50%at 50% 50%, #1d1d1d, #000);
  font-size: var(--font-size-base-6);
}
.i-was-gonna-container,
.lexi-glosser {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 360.1px;
  height: 90px;
}
.lexi-glosser {
  width: 97.2px;
  height: 21px;
}
.divp-182 {
  position: absolute;
  width: calc(100% - 250.4px);
  top: 0;
  right: 250.4px;
  left: 0;
  height: 23px;
}
.environmental-ngo {
  position: absolute;
  top: 23px;
  left: 0;
  font-size: var(--font-size-sm-1);
  line-height: 20px;
  font-weight: 500;
  color: var(--color-darkgray);
  display: flex;
  align-items: center;
  width: 123.1px;
  height: 20px;
}
.divtestimonail-credentials2 {
  position: absolute;
  top: calc(50% + 32.7px);
  left: 20px;
  width: 373.3px;
  height: 43px;
  font-size: var(--font-size-base-6);
}
.divtestimonial-hp22 {
  position: absolute;
  height: calc(100% - 210px);
  width: calc(100% - 1506.7px);
  top: 90px;
  right: 310px;
  bottom: 120px;
  left: 1196.7px;
  border-radius: var(--br-xs);
  background: radial-gradient(50% 50%at 50% 50%, #1d1d1d, #000);
  font-size: 16.3px;
}
.article {
  position: absolute;
  width: 100%;
  top: 2885.8px;
  right: 0;
  left: 0;
  height: 415px;
  overflow: hidden;
  font-size: var(--font-size-base-5);
}
.connect {
  position: absolute;
  top: 10px;
  left: 12px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 73.2px;
  height: 16px;
}
.divlabel-steps-hp2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-yellow);
  width: 97px;
  height: 36px;
}
.work-with-data {
  background: linear-gradient(90.69deg, #a42e99, #4f4bb1 29%, #c25d3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we-give-everyone-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 48.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 451.8px;
  height: 96.3px;
}
.heading-1 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 480px;
  height: 96.6px;
  font-size: 39px;
  color: var(--color-black);
}
.divheadline-01connect {
  position: absolute;
  top: calc(50% - 264.7px);
  left: 65px;
  width: 480px;
  height: 152.6px;
  text-align: left;
  font-size: 12.9px;
  color: #333;
}
.choose-a-data-container {
  position: absolute;
  top: 67.8px;
  left: 875px;
  font-size: var(--font-size-base-5);
  line-height: 25px;
  font-weight: 500;
  color: var(--color-dimgray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 356px;
  height: 71px;
}
.divlogo-connector-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 98px;
  height: 98px;
}
.shopify {
  position: absolute;
  top: 104px;
  left: calc(50% - 26.9px);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53.9px;
  height: 20px;
}
.divlogo-connector-icon1,
.link1 {
  position: absolute;
  top: 262.6px;
  width: 98px;
}
.link1 {
  height: calc(100% - 505.4px);
  bottom: 242.8px;
  left: 69.8px;
}
.divlogo-connector-icon1 {
  left: 221.6px;
  border-radius: var(--br-7xs);
  height: 98px;
}
.ga4,
.stripe {
  position: absolute;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.stripe {
  top: 366.6px;
  left: calc(50% - 401.2px);
  font-size: var(--font-size-base-3);
  width: 43.8px;
}
.ga4 {
  top: 104px;
  left: calc(50% - 15.9px);
  width: 32px;
}
.link-icon,
.link2 {
  position: absolute;
  top: 262.6px;
  width: 98px;
}
.link2 {
  height: calc(100% - 505.4px);
  bottom: 242.8px;
  left: 373.3px;
  font-size: var(--font-size-base-3);
}
.link-icon {
  left: 525.1px;
  border-radius: var(--br-7xs);
  height: 98px;
}
.facebook,
.link-google {
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.link-google {
  position: absolute;
  top: 366.6px;
  left: calc(50% - 116.4px);
  font-size: var(--font-size-mini-6);
  width: 81.2px;
}
.facebook {
  top: 104px;
  left: calc(50% - 34.8px);
  width: 69.8px;
}
.excel,
.facebook,
.link3 {
  position: absolute;
}
.link3 {
  height: calc(100% - 505.4px);
  top: 262.6px;
  bottom: 242.8px;
  left: 676.9px;
  width: 98px;
}
.excel {
  top: 104px;
  left: calc(50% - 18.8px);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.9px;
  height: 20px;
}
.divlogo-connector-icon5,
.link4 {
  position: absolute;
  top: 262.6px;
  width: 98px;
}
.link4 {
  height: calc(100% - 505.4px);
  bottom: 242.8px;
  left: 828.6px;
  font-size: var(--font-size-mini-9);
}
.divlogo-connector-icon5 {
  left: 980.4px;
  border-radius: var(--br-7xs);
  height: 98px;
}
.sheets {
  position: absolute;
  top: 366.6px;
  left: calc(50% + 354.6px);
  font-size: var(--font-size-mini-9);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.8px;
  height: 20px;
}
.divlogo-connector-icon6 {
  position: absolute;
  top: 262.6px;
  left: 1132.2px;
  border-radius: var(--br-7xs);
  width: 98px;
  height: 98px;
}
.zendesk {
  position: absolute;
  top: 366.6px;
  left: calc(50% + 501px);
  font-size: var(--font-size-mini-6);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.6px;
  height: 20px;
}
.svg-icon {
  position: absolute;
  height: calc(100% - 523.4px);
  width: calc(100% - 345.7px);
  top: 411.6px;
  right: 172.8px;
  bottom: 111.8px;
  left: 172.9px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.f45b643f9634874ce85ad-logo20-icon {
  position: absolute;
  top: 550.4px;
  left: calc(50% - 60.5px);
  width: 121px;
  height: 29px;
  overflow: hidden;
}
.divsection-hp2,
.divsection-hp2-icon {
  position: absolute;
  left: calc(50% - 650px);
  border-radius: var(--br-13xl);
  width: 1300px;
  overflow: hidden;
}
.divsection-hp2 {
  top: 70px;
  background-color: #f7f8fa;
  height: 629.4px;
  text-align: center;
  color: var(--color-gray-100);
}
.divsection-hp2-icon {
  top: 3300.8px;
  height: 606.6px;
}
.f45b643f9634874ce85ad-logo20-icon1 {
  position: absolute;
  height: calc(100% - 605px);
  top: 70px;
  bottom: 535px;
  left: 65px;
  max-height: 100%;
  width: 100px;
  overflow: hidden;
}
.heading-4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 69.1px;
  height: 24px;
}
.heading-41 {
  top: 32.2px;
  width: 107.6px;
}
.heading-41,
.heading-42,
.heading-43,
.heading-44 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
}
.heading-42 {
  top: 68.2px;
  font-size: 15.6px;
  width: 59.2px;
}
.heading-43,
.heading-44 {
  top: 104.2px;
  font-size: var(--font-size-mini-9);
  width: 119.1px;
}
.heading-44 {
  top: 140.2px;
  font-size: var(--font-size-mini-6);
  width: 97.9px;
}
.divw-node-8b8e28aa-02cb-b7a6 {
  position: absolute;
  height: 100%;
  width: calc(100% - 876.8px);
  top: 0;
  right: 876.8px;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-base-1);
}
.heading-45,
.heading-46,
.heading-47 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading-45 {
  top: 0;
  font-size: var(--font-size-base-3);
  color: var(--color-black);
  width: 76.6px;
  height: 24px;
}
.heading-46,
.heading-47 {
  height: 18px;
}
.heading-46 {
  top: 32.2px;
  font-size: var(--font-size-mini-9);
  width: 31.8px;
}
.heading-47 {
  top: 68.2px;
  width: 82.5px;
}
.heading-48 {
  top: 104.2px;
  font-size: var(--font-size-mini-6);
  width: 49.2px;
}
.heading-410,
.heading-48,
.heading-49 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
}
.heading-49 {
  top: 140.2px;
  font-size: var(--font-size-base-1);
  width: 63.8px;
}
.heading-410 {
  top: 176.2px;
  width: 77.3px;
}
.divw-node-8b8e28aa-02cb-b7a61 {
  position: absolute;
  height: 100%;
  width: calc(100% - 876.8px);
  top: 0;
  right: 657.6px;
  bottom: 0;
  left: 219.2px;
}
.heading-411,
.heading-412,
.heading-413,
.heading-414 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading-411 {
  top: 0;
  color: var(--color-black);
  width: 58.6px;
  height: 24px;
}
.heading-412,
.heading-413,
.heading-414 {
  top: 32.2px;
  font-size: var(--font-size-base-1);
  width: 50px;
  height: 18px;
}
.heading-413,
.heading-414 {
  top: 68.2px;
  font-size: var(--font-size-mini-9);
  width: 74.3px;
}
.heading-414 {
  top: 104.2px;
  font-size: var(--font-size-mini-8);
  width: 89.2px;
}
.heading-415 {
  top: 140.2px;
  font-size: var(--font-size-mini-9);
  width: 24.1px;
}
.heading-415,
.heading-416,
.heading-417,
.heading-418,
.heading-419 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
}
.heading-416 {
  top: 176.2px;
  font-size: var(--font-size-mini);
  width: 93.9px;
}
.heading-417,
.heading-418,
.heading-419 {
  top: 212.2px;
  width: 103.4px;
}
.heading-418,
.heading-419 {
  top: 248.2px;
  width: 122.6px;
}
.heading-419 {
  top: 284.2px;
  font-size: var(--font-size-mini-9);
  width: 102.4px;
}
.divw-node-8b8e28aa-02cb-b7a62 {
  position: absolute;
  height: 100%;
  width: calc(100% - 876.8px);
  top: 0;
  right: 438.4px;
  bottom: 0;
  left: 438.4px;
  font-size: 15.5px;
}
.heading-420,
.heading-421,
.heading-422 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
}
.heading-420 {
  top: -3.8px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 86.3px;
}
.heading-421,
.heading-422 {
  top: 32.2px;
  width: 81.2px;
}
.heading-422 {
  top: 68.2px;
  font-size: var(--font-size-mini-8);
  width: 100.6px;
}
.heading-423 {
  top: 104.2px;
  width: 132.3px;
}
.heading-423,
.heading-424,
.heading-425 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
}
.heading-424 {
  top: 140.2px;
  font-size: var(--font-size-base-3);
  width: 45.2px;
}
.heading-425 {
  top: 176.2px;
  font-size: 14.5px;
  width: 83.7px;
}
.divw-node-e8718d50-972c-7df6- {
  position: absolute;
  height: 100%;
  width: calc(100% - 876.8px);
  top: 0;
  right: 219.2px;
  bottom: 0;
  left: 657.6px;
  font-size: var(--font-size-mini-6);
}
.link-heading {
  position: absolute;
  top: -6.8px;
  left: 0;
  font-size: var(--font-size-base-3);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 96.7px;
  height: 24px;
}
.heading-426 {
  top: 32.2px;
  width: 156.5px;
}
.heading-426,
.heading-427,
.heading-428,
.heading-429,
.heading-430,
.heading-431 {
  position: absolute;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 18px;
}
.heading-427 {
  top: 68.2px;
  font-size: var(--font-size-mini);
  width: 147.8px;
}
.heading-428,
.heading-429,
.heading-430,
.heading-431 {
  top: 104.2px;
  width: 193.7px;
}
.heading-429,
.heading-430,
.heading-431 {
  top: 140.2px;
  width: 184.9px;
}
.heading-430,
.heading-431 {
  top: 176.2px;
  width: 145.7px;
}
.heading-431 {
  top: 212.2px;
  font-size: var(--font-size-mini);
  width: 178.1px;
}
.divw-node-ccc851a5-1cb5-a136- {
  position: absolute;
  height: 100%;
  width: calc(100% - 876.8px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 876.8px;
}
.divw-layout-grid {
  position: absolute;
  width: calc(100% - 220px);
  top: 129.9px;
  right: 155px;
  left: 65px;
  height: 324px;
}
.link-632c810e416a34ac8d0ccf0,
.link-632c810ecb14ed528b86da1,
.link-632c810ed72a3d3e72df293 {
  position: absolute;
  top: calc(50% - 43.8px);
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
}
.link-632c810e416a34ac8d0ccf0,
.link-632c810ecb14ed528b86da1 {
  left: 50px;
}
.link-632c810ecb14ed528b86da1 {
  left: 100px;
}
.polymer-search {
  position: absolute;
  top: 54px;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 151px;
  height: 20px;
}
.divfooter-second-row-left-sid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150.8px;
  height: 74px;
}
.c82636a47e051f351bd2d-soc2-lab-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 32.05px);
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.soc-2-type {
  position: absolute;
  top: 76px;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 149.3px;
  height: 20px;
}
.divfooter-second-row-right-si {
  position: absolute;
  bottom: 0;
  left: 1020.9px;
  width: 149.1px;
  height: 96px;
  font-size: 12.7px;
}
.divfooter-second-row {
  position: absolute;
  width: calc(100% - 130px);
  top: 474px;
  right: 65px;
  left: 65px;
  border-top: 1px solid #e3e7ef;
  box-sizing: border-box;
  height: 127px;
  font-size: var(--font-size-sm-1);
  color: var(--color-gray-100);
}
.divfooter {
  position: absolute;
  bottom: 69.9px;
  left: calc(50% - 650px);
  width: 1300px;
  height: 629px;
  color: var(--color-dimgray);
}
.divbelow-hero-wrapper-hp2 {
  position: absolute;
  width: 100%;
  top: 864px;
  right: 0;
  left: 0;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  background-color: var(--color-white);
  height: 4656.3px;
  font-size: var(--font-size-mini-8);
}
.link-home-6195045762a12082 {
  position: absolute;
  top: calc(50% - 16.5px);
  left: 21px;
  width: 134px;
  height: 33px;
  overflow: hidden;
}
.navigation-button,
.navigation-link {
  position: absolute;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.navigation-link {
  top: 22px;
  left: 824.7px;
  font-size: var(--font-size-base-1);
  width: 50px;
  height: 18px;
}
.navigation-button {
  top: 21px;
  left: 426.2px;
  font-size: 15.5px;
  width: 58.6px;
  height: 20px;
}
.navigation-button1 {
  position: absolute;
  top: 39px;
  left: 494.6px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.navigation-button2 {
  position: absolute;
  top: 21px;
  left: 550.6px;
  font-size: var(--font-size-mini-8);
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 65.9px;
  height: 20px;
}
.navigation-button3 {
  position: absolute;
  top: 39px;
  left: 626.3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.navigation-button4 {
  position: absolute;
  top: 21px;
  left: 682.3px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 76.6px;
  height: 20px;
}
.navigation-button5 {
  position: absolute;
  top: 39px;
  left: 768.7px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.start-for-free1 {
  position: absolute;
  top: 11px;
  left: 20px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 94px;
  height: 18px;
}
.link5 {
  position: absolute;
  top: calc(50% - 20px);
  left: 1145.2px;
  border-radius: var(--br-3xs);
  background-color: var(--color-yellow);
  width: 133.8px;
  height: 40px;
  color: var(--color-black);
}
.link-log {
  position: absolute;
  top: 22px;
  left: 1077.7px;
  font-size: 14.4px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41.8px;
  height: 18px;
}
.banner {
  position: absolute;
  top: 24px;
  left: calc(50% - 650px);
  border-radius: var(--br-xs);
  background-color: #222;
  border: 1px solid #2c2c2c;
  box-sizing: border-box;
  width: 1300px;
  height: 62px;
  font-size: var(--font-size-base-3);
}
.region-chat-widget {
  position: absolute;
  right: 0;
  bottom: 4440.3px;
  width: 100px;
  height: 96px;
  overflow: hidden;
}
.wwwpolymersearchcom-by-html {
  width: 100%;
  position: relative;
  background-color: #070707;
  height: 5520.3px;
  text-align: left;
  font-size: 75.8px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
